<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  </head>
<body>
  <%- include partials/menu.ejs %>

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Runescape Name</th>
          <th>Clan Rank</th>
          <th>Clan XP</th>
        </tr>
      </thead>

      <tbody>
        <% for (var i=1; i < clan.length; i++) { %>
          <tr>
            <td><a href="/members/profile/<%= clan[i].player %>"><%= clan[i].player %></a></td>
            <td><%= clan[i].rank %></td>
            <td><%= clan[i].exp.toLocaleString() %></td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>

  <%- include partials/footer.ejs %>
</body>
</html>